<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title>Article detail</title>
</head>
<body>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 th:text="#{title}">Article Management System</h1>

			<!-- <ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol> -->

		</section>

		<!-- Main content -->
		<section class="content container-fluid">

			<div class="box">
				<div class="box-header">
					<div class="col-md-6">
						<h3 class="box-title" th:text="#{article-detail}">Article
							Detail</h3>
					</div>
					<form method="get" action="/article">
						<div class="col-md-3">
							<div class="form-group form-inline">
								Title: <input th:field="${filter.name}" type="text"
									class="form-control" placeholder="Title" />
							</div>
						</div>
						<div class="col-md-3">
							Category:
							<div class="form-group form-inline">
								<select th:field="${filter.cate_id}" class="form-control">
									<option value="">No filter</option>
									<option th:each="category : ${categories}"
									th:object="${category}" th:value="*{id}"
									th:text="*{name}"></option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div id="example1_wrapper"
						class="dataTables_wrapper form-inline dt-bootstrap">
						<div class="row">
							<div class="col-sm-12">
								<table id="example1"
									class="table table-bordered table-striped dataTable"
									role="grid" aria-describedby="example1_info">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1" aria-sort="ascending"
												aria-label="Rendering engine: activate to sort column descending"
												style="width: 40px; text-align: center;">ID</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column ascending"
												style="width: 200px; text-align: center;">Name</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Platform(s): activate to sort column ascending"
												style="width: 200px; text-align: center;">Description</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Engine version: activate to sort column ascending"
												style="width: 170px; text-align: center;">Author</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="CSS grade: activate to sort column ascending"
												style="width: 100px; text-align: center;">Category</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="CSS grade: activate to sort column ascending"
												style="width: 80px; text-align: center;">
												Date</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="CSS grade: activate to sort column ascending"
												style="width: 80px; text-align: center;">Picture</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="CSS grade: activate to sort column ascending"
												style="width: 100px; text-align: center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" class="odd" th:each="article : ${articles}"
											th:object="${article}">
											<td class="sorting_1" th:text="*{id}">ID</td>
											<td th:text="*{name}">Name</td>
											<td th:text="*{description}">Description</td>
											<td th:text="*{author}">Author</td>
											<td th:text="*{category.name}"></td>
											<td style="text-align: center;" th:text="*{createdDate}">06/06/2018</td>
											<td style="text-align: center;"><img
												style="width: 50px; border-radius: 50%;"
												th:src="@{image/{thumnail}(thumnail=*{thumnail})}" /></td>
											<td style="text-align: center;"><a
												th:href="@{article/delete/{id}(id=*{id})}"><button>
														<i class="fa fa-trash" aria-hidden="true"></i>
													</button></a> <a th:href="@{article/edit/{id}(id=*{id})}"><button>
														<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													</button></a> <a th:href="@{article/view/{id}(id=*{id})}"><button>
														<i class="fa fa-eye" aria-hidden="true"></i>
													</button></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<!-- Pagination -->
						<div class="row">
							<div class="col-sm-7">
								<div class="dataTables_paginate paging_simple_numbers"
									id="example2_paginate">
									<ul class="pagination">
										<li class="paginate_button previous disabled"
											id="example2_previous"><a aria-controls="example2"
											data-dt-idx="0" tabindex="0">First</a></li>
										<li class="paginate_button previous disabled"
											id="example2_previous"><a aria-controls="example2"
											data-dt-idx="1" tabindex="1">Previous</a></li>
										<li class="paginate_button active"><a href="#"
											aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li>
										<li class="paginate_button next" id="example2_next"><a
											href="#" aria-controls="example2" data-dt-idx="7"
											tabindex="2">Next</a></li>
										<li class="paginate_button next" id="example2_next"><a
											href="#" aria-controls="example2" data-dt-idx="7"
											tabindex="3">Last</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>