<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title>Article view</title>
</head>
<body>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 th:text="#{title}">Article Management System</h1>

			<!-- <ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol> -->

		</section>

		<!-- Main content -->
		<section class="content container-fluid">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Article View</h3>
					<hr/>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-4">
							<div class="detail-info">
								<img alt="pic detail" class="img-view"
									th:src="@{/image/{thumnail}(thumnail=*{article.thumnail})}" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<h2 th:text="*{article.id} + '- ' + *{article.name}"></h2>
								<hr class="hr-style"/>
								<div class="col-md-3" style="font-size:20px;">
									<p>Description:</p>
									<p>Author:</p>
									<p>Category:</p>
									<p>Created Date:</p>
								</div>
								<div class="col-md-9" style="font-size:20px;">
									<p th:text="*{article.description}">Description</p>
									<p th:text="*{article.author}">Autor</p>
									<p th:text="*{article.category.name}">Category</p>
									<p th:text="*{article.createdDate}">Created Date</p>
								</div>
							</div>
							

						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>