<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title th:text="${formAdd}==true?'Add new article':'Update article'">Add
	new article</title>
</head>
<body>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 th:text="#{title}" class="font-kh">Article Management System</h1>

			<!-- <ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol> -->
		</section>

		<!-- Main content -->
		<section class="content container-fluid col-md-6">

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"
						th:text="${formAdd}==true?#{add-article}:#{edit-article}">Add
						Article</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form"
					th:action="${formAdd}==true?'/article/add':'/article/edit'"
					method="post" enctype="multipart/form-data">
					<div class="box-body">
						<div class="form-group">
							<label>ID</label> <input type="text" th:field="${article.id}"
								class="form-control" placeholder="Enter id" /> <span
								style="color: red; font-size: 15px"
								th:if="${#fields.hasErrors('article.id')}">* ID is
								required</span>
						</div>
						<div class="form-group">
							<label>Name</label> <input type="text" th:field="${article.name}"
								class="form-control" placeholder="Enter name" /> <span
								style="color: red; font-size: 15px"
								th:if="${#fields.hasErrors('article.name')}">* Name is
								required</span>
						</div>
						<div class="form-group">
							<label>Category</label> <select class="form-control"
								th:field="${article.category.id}">
								<option th:each="category : ${categories}"
									th:value="${category.id}" th:text="${category.name}">option
									1</option>
							</select>
						</div>
						<div class="form-group">
							<label>Description</label> <input type="text"
								th:field="${article.description}" class="form-control"
								placeholder="Enter description" /> <span
								style="color: red; font-size: 15px"
								th:if="${#fields.hasErrors('article.description')}">*
								Description is required</span>
						</div>
						<div class="form-group">
							<label>Author</label> <input type="text"
								th:field="${article.author}" class="form-control"
								placeholder="Enter author" /> <span
								style="color: red; font-size: 15px"
								th:if="${#fields.hasErrors('article.author')}">* Author
								is required</span>
						</div>

						<div class="form-group">
							<label>Upload image</label>
								<input type="hidden"
								th:field="${article.thumnail}" /> 
								<input type="file" name="file" />
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">
						<button type="submit" class="btn btn-primary"
							th:text="${formAdd}==true?'Save':'Update'">Submit</button>
					</div>
				</form>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>