<!-- Main Footer -->
<footer class="main-footer" xmlns:th="https://www.thymeleaf.org"
	th:fragment="footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">Anything you want</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2018 <a href="#">Korea Software
			HRD</a>.
	</strong> All rights reserved.
</footer>
