<head lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="ISO-8859-1" />
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- Font Awesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<!-- Ion icons -->
<link rel="stylesheet" href="/css/ionicons.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/css/skin-blue.min.css" />
<link rel="stylesheet" href="/css/my-style.css"/>
<link href="https://fonts.googleapis.com/css?family=Taprom" rel="stylesheet"/>

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
<!-- My JS -->
<script src="/js/myscript.js"></script>
</head>