<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" xmlns:th="https://www.thymeleaf.org"
	th:fragment="sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/img/avatar04.png" class="img-circle" alt="User Image" />
			</div>
			<div class="pull-left info">
				<p>Chan Chhaya</p>
				<!-- Status -->
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>

		<!-- search form (Optional) -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..." /> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!-- /.search form -->

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">MENU</li>
			<!-- Optionally, you can add icons to the links -->

			<!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another
								Link</span></a></li> -->


			<!-- Article menu -->
			<li class="treeview"><a href="#"><i
					class="fa fa-file-text-o" aria-hidden="true"></i> <span>Article</span>
					<span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span> </a>
				<ul class="treeview-menu">
					<li><a href="/article/add"><i class="fa fa-plus"
							aria-hidden="true"></i> Add Article</a></li>
					<li><a href="/article"> <i class="fa fa-eye"
							aria-hidden="true"></i> View Article
					</a></li>
				</ul></li>

			<!-- Category menu -->
			<li class="treeview"><a href="#"><i
					class="fa fa-object-group" aria-hidden="true"></i> <span>Category</span>
					<span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span> </a>
				<ul class="treeview-menu">
					<li><a href="/category/add"><i class="fa fa-plus"
							aria-hidden="true"></i> Add Category</a></li>
					<li><a href="/category"><i class="fa fa-eye"
							aria-hidden="true"></i> View Category</a></li>
				</ul></li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>