.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 100%;
}
.content-wrapper{
	height:100%;
	overflow: hidden;
}
.my-content {
	width: 40%;
	float: left;
}
.img-view {
	width: 90%;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0,0,0,1);
}
.hr-style {
	width: 80%;
	text-align: left;
	margin-left: 0;
}
.box-view {
	width: 50% !important;
}
.form-inline {
	display: inline !important;
    width: 100% !important;
}
.form-inline .form-control {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
