<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title>Category detail</title>
</head>
<body>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 th:text="#{title}">Article Management System</h1>

			<!-- <ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol> -->

		</section>

		<!-- Main content -->
		<section class="content container-fluid my-content">

			<div class="box">
				<div class="box-header">
					<h3 class="box-title" th:text="#{category-detail}">Category Detail</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div id="example1_wrapper"
						class="dataTables_wrapper form-inline dt-bootstrap">
						<div class="row">
							<div class="col-sm-12">
								<table id="example1"
									class="table table-bordered table-striped dataTable"
									role="grid" aria-describedby="example1_info">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1" aria-sort="ascending"
												aria-label="Rendering engine: activate to sort column descending"
												style="width: 40px; text-align: center;">ID</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column ascending"
												style="width: 200px; text-align: center;">Name</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="CSS grade: activate to sort column ascending"
												style="width: 80px; text-align: center;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" class="odd" th:each="category : ${categories}"
											th:object="${category}">
											<td class="sorting_1" th:text="*{id}">ID</td>
											<td th:text="*{name}">Name</td>
											<td style="text-align:center;">
												<a th:href="@{category/delete/{id}(id=*{id})}">
													<button>
														<i class="fa fa-trash" aria-hidden="true"></i>
													</button>
												</a> 
												<a th:href="@{category/edit/{id}(id=*{id})}">
													<button>
														<i class=" fa fa-pencil-square-o" aria-hidden="true"></i>
													</button>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>