<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title>Add new category</title>
</head>
<body>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" layout:fragment="content">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1 th:text="#{title}" class="font-kh">Article Management System</h1>

			<!-- <ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol> -->
		</section>

		<!-- Main content -->
		<section class="content container-fluid col-md-6">

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"
						th:text="${formAdd}==true?#{add-category}:#{edit-category}">Add
						Category</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form"
					th:action="${formAdd}==true?'/category/add':'/category/edit'"
					method="post">
					<div class="box-body">
						<div class="form-group">
							<label>ID</label> <input type="text" th:field="${category.id}"
								class="form-control" placeholder="Enter id" /> <span
								style="color: red; font-size: 15px"
								th:if="${#fields.hasErrors('category.id')}">* ID is
								required</span>
						</div>
						<div class="form-group">
							<label>Name</label> <input type="text"
								th:field="${category.name}" class="form-control"
								placeholder="Enter name" /> <span
								style="color: red; font-size: 15px"
								th:if="${#fields.hasErrors('category.name')}">* Name is
								required</span>
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">
						<button type="submit" class="btn btn-primary"
							th:text="${formAdd}==true?'Save':'Update'">Submit</button>
					</div>
				</form>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</body>
</html>